* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background: #F9F6EE;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .container {
    margin: 24px;
    gap: 26px 0;
  }
}

p, span, h1, h2, h3, h4, h5, h6, a {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

header {
  background: #171717;
  height: 8rem;
  display: flex;
  align-items: center;
}
header .container {
  padding: 0 24px;
  width: 100%;
}
header nav {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 0 3rem;
}
header nav a {
  color: #F9F6EE;
  font-size: 2rem;
  position: relative;
  text-decoration: none;
}
header nav a:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #8FBC8F;
  z-index: 3;
  left: 50%;
  transition: all 0.2s ease-out;
}
header nav a:hover::after {
  width: 100%;
  left: 1px;
}
header .hamburger {
  display: none;
  grid-column: 4;
  justify-self: end;
  right: 2rem;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
header .mobile-nav {
  display: none;
}
header .logo {
  max-width: 55px;
  justify-self: start;
  z-index: 99;
}
@media (max-width: 992px) {
  header nav {
    display: none;
  }
  header .hamburger {
    display: block;
    z-index: 3;
  }
  header .hamburger .bar, header .hamburger:after, header .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #F9F6EE;
    margin: 6px 0px;
    transition: 0.4s;
  }
  header .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
  }
  header .hamburger.is-active:after {
    transform: rotate(45deg) translate(-0.9rem, -0.6rem);
  }
  header .hamburger.is-active .bar {
    opacity: 0;
  }
  header .mobile-nav {
    margin: 0 auto;
    position: fixed;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    top: 10px;
    right: -200vw;
    transition: 0.6s;
    padding: 0;
  }
  header .mobile-nav a {
    font-size: 5rem;
  }
  header .mobile-nav.is-active {
    right: 0;
  }
}

footer {
  background: #171717;
  width: 100%;
  padding: 1px;
}
footer img {
  max-height: 5rem;
  max-width: 5rem;
  border: 50%;
}
footer .developer-signature {
  width: 50px;
  display: flex;
  grid-column: 4;
}
footer .developer-signature img {
  max-height: 15px;
}
footer .developer-signature span {
  font-size: 0.5rem;
  color: #F9F6EE;
}

.hero-block {
  height: 89vh;
}
.hero-block .profile-picture {
  grid-column: 1/span 4;
}
.hero-block .opening-statement {
  grid-column: 1/span 4;
}

.hero-block-variant {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-block-variant h1 {
  grid-column: 1/span 4;
}

.intro-block {
  background-color: #171717;
  padding: 7.5rem 0;
}
.intro-block h2 {
  grid-column: 1/span 4;
  color: #F9F6EE;
}
.intro-block p {
  grid-column: 1/span 4;
  color: #F9F6EE;
  text-align: center;
}
.intro-block img {
  grid-column: 2/span 2;
}

.project-highlight {
  text-align: center;
  height: 100vh;
  overflow: scroll;
}
.project-highlight img {
  background: #D9D9D9;
  min-height: 145px;
  min-width: 145px;
}
.project-highlight .highlight-card-left {
  grid-column: 1/span 4;
  justify-self: start;
}
.project-highlight .highlight-card-right {
  grid-column: 1/span 4;
  justify-self: end;
}

.about-content-block {
  margin: 10rem 0;
}
.about-content-block .container {
  column-gap: 1rem;
}
.about-content-block .profile-pic {
  grid-column: 3/span 2;
}
.about-content-block p:first-of-type {
  grid-column: 1/span 2;
}
.about-content-block p:nth-child(n+3) {
  grid-column: 1/span 4;
}

/*# sourceMappingURL=style.css.map */
