.about-content-block
    margin: 10rem 0
    .container
        column-gap: 1rem
        grid-auto-flow: row dense
    .profile-pic
        grid-column: 8 / span 5
    .content-wrapper
        grid-column: 1 /span 6
        align-self: start
    .profile-pic-mobile
        display: none
    @media(max-width: 992px)
        .profile-pic-mobile
            grid-column: 3 / span 2
            display: block
        p
            &:first-of-type
                grid-column: 1 / span 2
            
            &:nth-child(n+3)
                grid-column: 1/ span 4
        
            