footer
    background: $primary
    width: 100%
    padding: 1px

    img
       max-height: 5rem
       max-width: 5rem
       border: 50%


    .developer-signature
        width: 50px
        display: flex
        grid-column: 4
        img
            max-height: 15px
        span
            font-size: 0.5rem
            color: $secondary