*
    margin:0
    padding:0
    font-size: 10px
    box-sizing: border-box
body
    background: $secondary
    margin: 0 auto
.container
    max-width: 1400px
    display: grid
    grid-template-columns: repeat(12, 1fr)
    align-items: center
    justify-items: center
    margin: 0 auto
    padding: 0 24px
    gap: 2rem
    @media(max-width: 992px)
        gap: 26px 0
        grid-template-columns: repeat(4, 1fr)


a
    font-style: none
    text-decoration: none

p,span, h1, h2, h3, h4, h5, h6, a, li
    font-family: $main-font
    font-weight: 400
    margin-bottom: 2rem

h1
    font-size: 5rem
h2
    font-size: 2.75rem
h3
    font-size: 2rem
p
    font-size: 1.6rem
img
    max-width: 100%
ul
    list-style: none

.highlight-card-left
    box-shadow: 0px 2px 2px  2px rgba($primary, 0.5)
.highlight-card-right
    box-shadow: 0px 2px 2px  2px rgba($primary, 0.5)
.info-card
    background:  $secondary
    color: $primary
    padding: 2rem
.info-card-img
    background-color: $secondary
.highlight-card-left .info-card
    background:  $primary
    color: $secondary
.highlight-card-left .info-card-img
    background-color: $primary


.technology-used
    ul
        display: flex
        gap: 2rem