.hero-block
    height: 89vh
    .profile-picture
        grid-column: 1 / span 4
    .opening-statement
        grid-column: 1 / span 4

.hero-block-variant
    height: 20vh
    display: flex
    justify-content: center
    align-items: center
    h1
        grid-column: 1 / span 4